body{
    background-color: beige;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card1{
    position: relative;
    display: flex;
    justify-content: center;

    background-color: #fff;
    height: 300px;
    width: 90%;
    margin-right: -10px;
    margin: 1rem;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
}

button[type=like]{
    height: 10%;
    width: 15%;
    top: 90%;
    position: absolute;
    margin-left: -20%;
    background-color: green;
    border-radius: 3px;

}

button[type=dislike]{
    height: 10%;
    width: 15%;
    top: 90%;
    margin-right: -20%;
    position: absolute;
    background-color: red;
    border-radius: 3px;
}

button[type=comment]{
    height: 10%;
    width: 15%;
    top: 90%;
    position: absolute;
    margin-right: -60%;
    background: brown;
    border-radius: 3px;
}

.meta{
    top: 40%;
    position: absolute;
}

.health{
    top: 52%;
    position: absolute;
}

#health img{
    margin-left: -230%;
}

.healhd h2{
    color: red;


}

.phonepara{
    top: 40%;
    position: absolute;
}

.phone img{
    margin-left: -230%;
}

.met img{
    margin-left: -230%;
}


#readmore{
    display: none;
}

button[type=button]{
    background-color: rosybrown;
    color: whitesmoke;
    font-size: 25px;
    border-radius: 4px;
    padding: 5px;
}


#input1{
    height: 19px;
    width: 19px;
    bottom: 2%;
    position: absolute;
    border: none;
    font-size: larger;
}

#input2{
    height: 19px;
    width: 19px;
    bottom: 2%;
    position: absolute;
    margin-left: 40%;
    border: none;
    font-size: larger;
}

#input11{
    height: 19px;
    width: 19px;
    bottom: 2%;
    position: absolute;
    border: none;
    font-size: larger;
    

}

#input22{
    height: 19px;
    width: 19px;
    bottom: 2%;
    position: absolute;
    margin-left: 40%;
    border: none;
    font-size: larger;

}

#input111{
    height: 19px;
    width: 19px;
    bottom: 2%;
    position: absolute;
    border: none;
    font-size: larger;
}

#input222{
    height: 19px;
    width: 19px;
    bottom: 2%;
    position: absolute;
    margin-left: 40%;
    border: none;
    font-size: larger;

}

#popup-container{
    display: none;
    box-shadow: 0px 0px 10px grey;
    background-color: blue;
    width: 30%;
    height: 40%;
    margin-left: 50%;
    position: absolute;
}

#close-btn{
    float: right;
    color: red;
}

#close-btn:hover{
    cursor: pointer;
}


#popup-container1{
    display: none;
    box-shadow: 0px 0px 10px grey;
    background-color: blue;
    width: 30%;
    height: 40%;
    margin-left: 50%;
    position: absolute;
}

#close-btn1{
    float: right;
    color: red;
}

#close-btn1:hover{
    cursor: pointer;
}

#popup-container2{
    display: none;
    box-shadow: 0px 0px 10px grey;
    background-color: blue;
    width: 30%;
    height: 40%;
    margin-left: 50%;
    position: absolute;
}

#close-btn2{
    float: right;
    color: red;
}

#close-btn2:hover{
    cursor: pointer;
}