<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/blog.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="card1">
        <h2>Meta/Facebook Community</h2>
        <img src="/static/Images/face.png" height="100" width="100" alt="" />
        <p class="meta">
          The metaverse is the next evolution of social connection. Our
          company’s vision ......is <br />to help bring the metaverse to life,
          so we are changing our name to reflect<br />
          our commitment to this future.
        </p>
        <button type="like">Like</button>
        <button type="dislike">Dislike</button>
        <button type="comment">Comment</button>
      </div>
      <div class="card1">
        <h2 class="healhd">Health Diary</h2>
        <div id="health">
          <img
            src="/static/Images/health.jpg"
            height="250"
            width="250"
            alt=""
          />
        </div>
        <p class="health">
          Use of a health diary has been common in nursing practice settings.
          Nurses have incorporated the diary... as <br />a means of helping
          clients to document their symptoms <br />and factors which may have
          precipitated them, often with the aim of modifying particular health
          behaviours.
        </p>
        <button type="like">Like</button>
        <button type="dislike">Dislike</button>
        <button type="comment">Comment</button>
      </div>

      <div class="card1">
        <h2>Meta/Facebook Community</h2>
        <img src="/static/Images/face.png" height="100" width="100" alt="" />
        <p class="meta">
          The metaverse is the next evolution of social connection. Our
          company’s vision ......is <br />to help bring the metaverse to life,
          so we are changing our name to reflect<br />
          our commitment to this future.
        </p>
        <button type="like">Like</button>
        <button type="dislike">Dislike</button>
        <button type="comment">Comment</button>
      </div>
    </div>
  </body>
</html>
