<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/blog.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="card1">
        <h2>Meta/Facebook Community</h2>
        <div class="met">
          <img src="/static/Images/face.png" height="250" width="250" alt="" />
        </div>
        <p class="meta">
          The metaverse is the next evolution of social connection. Our
          company’s vision ......is <br />to help bring the metaverse to life,
          so we are changing our name to reflect<br />
          our commitment to this future.
          <span id="dots">...</span
          ><span id="readmore"
            >Meta Platforms, Inc., doing business<br />
            as Meta and formerly known as Facebook, I<br />., is an American
            multinational technology conglomerate based in Menlo Park,
            California.<br />
            The company is the parent organization<br />
            of Facebook, Instagram, and WhatsApp, among other
            subsidiaries.</span
          >
          <button type="button" id="read" onclick="read()">Read-more</button>
        </p>
        <button type="like">Like</button>
        <button type="dislike">Dislike</button>
        <button type="comment">Comment</button>
      </div>
      <div class="card1">
        <h2 class="healhd">Health Diary</h2>
        <div id="health">
          <img
            src="/static/Images/health.jpg"
            height="250"
            width="250"
            alt=""
          />
        </div>
        <p class="health">
          Use of a health diary has been common in nursing practice settings.
          Nurses have incorporated the diary... as <br />a means of helping
          clients to document their symptoms <br />and factors which may have
          precipitated them, often with the aim of modifying particular health
          behaviours.
        </p>
        <button type="like">Like</button>
        <button type="dislike">Dislike</button>
        <button type="comment">Comment</button>
      </div>

      <div class="card1">
        <h2>Phone innovation</h2>
        <div class="phone">
          <img src="/static/Images/phon.jpg" height="250" width="250" alt="" />
        </div>
        <p class="phonepara">
          Smartphone innovation in the third <br />decade of the 21st century
          Mobile devices have come a long way,<br />
          building on their traditional phone function to become general-purpose
          communication consoles.<br />
          In 2020, they’ll get better, faster, stronger yet.
        </p>
        <button type="like">Like</button>
        <button type="dislike">Dislike</button>
        <button type="comment">Comment</button>
      </div>
    </div>
    <script src="/static/JS/blog.js"></script>
  </body>
</html>
