<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/CSS/post.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="post">
      <div class="header">
        <h2>Create Blog Post</h2>
      </div>
      <div class="inputs">
        <label class="heading">Heading</label><br />
        <input type="head" width="100" /><br />
        <label class="body">Body</label><br />
        <textarea
          type="body"
          style="height: 200px"
          placeholder="create a post"
        ></textarea>

        <div class="publish">
          <button type="publish">Publish</button>
        </div>
      </div>
    </div>
  </body>
</html>
